#!/bin/bash
# Shell script to backup geonode data to external server
#
# Called as cron job

echo Backup started at `date` >> ~postgres/backup.log

sudo /etc/init.d/postgresql stop >> ~postgres/backup.log 2>&1

rsync -azv -e ssh --exclude={{backup_exclude}} \
      {{backup_from_dir}} {{backup_to_server}}:{{backup_to_dir}}/backup_of_{{host}}/ \
      >> ~postgres/backup.log 2>&1

sudo /etc/init.d/postgresql start >> ~postgres/backup.log 2>&1

echo Backup finished at `date` >> ~postgres/backup.log