#!/bin/bash
# seed_cache: seed the geowebcache for all public layers with their default style

if [[ $# -ne 2 ]] ; then
    echo "Usage: $0 admin_user admin_password"
    exit 0
fi

SITENAME=citydata.be.unsw.edu.au
PROTOCOL=https

ADMINUSER=$1
ADMINPASS=$2

function seedLayer {
  curl -s -v -u $ADMINUSER:$ADMINPASS -H "Content-type: text/xml" \
  -d "<seedRequest>
        <name>$1</name>
        <srs>
          <number>900913</number>
        </srs>
        <zoomStart>0</zoomStart>
        <zoomStop>15</zoomStop>
        <format>image/png</format>
        <type>seed</type>
        <threadCount>3</threadCount>
      </seedRequest>" \
  "$PROTOCOL://$SITENAME/geoserver/gwc/rest/seed/$1.xml"
}

# List layers - bypasses Geonode security and shows all layers
# LAYERS=`(curl -u $ADMINUSER:$ADMINPASS "$PROTOCOL://$SITENAME/geoserver/gwc/rest/layers" |
#   xmlstarlet sel -t -m "/layers/layer/name" -v . -n -) 2> /dev/null`
  # xmlstarlet sel -t -m "/layers/layer/name" -v . -n - | head -3) 2> /dev/null`

# List layers - Respects Geonode security and shows just public layers
LAYERS=`curl -s $PROTOCOL://$SITENAME/api/layers/ | jq .objects[].detail_url - | sed -e 's/"//g' -e 's|/layers/||g'`

# Seed all public layers
for LAYER in $LAYERS
  do
    echo seeding $LAYER
    seedLayer $LAYER
  done
