#!/bin/bash
# Shell script to backup server to external server before decommissioning server
#
# Called from command line without arguments

echo Backup started at `date` >> ~postgres/backup.log

sudo /etc/init.d/postgresql stop >> ~postgres/backup.log 2>&1

sudo service tomcat7 stop >> ~postgres/backup.log 2>&1

rsync -azv -e ssh --del           \
      /home/jdoig/                \
      /mnt/data/geonode/          \
      /mnt/data/geoserver_data/   \
      /mnt/data/postgresql/       \
      {{backup_server}}:{{backup_to_dir}}/backup_of_{{ inventory_hostname }}/ \
      >> ~postgres/backup.log 2>&1

sudo /etc/init.d/postgresql start >> ~postgres/backup.log 2>&1

sudo service tomcat7 start >> ~postgres/backup.log 2>&1

echo Backup b4 decommission finished at `date` >> ~postgres/backup.log