[ req ]
default_bits           = 2048
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
countryName            = {{country}}
organizationalUnitName = '{{orgname}}'
emailAddress	       = {{admin_email}}
commonName             = {{ inventory_hostname }}
subjectAltName         = @alt_names

[alt_names]
DNS.1 = {{ inventory_hostname }}
DNS.2 = {{target_host}}